<img src="{{livres[0].couverture}}">
<ul>
<li class="couleur">{{livres[0].titre}}</li>
<li>prix:{{livres[0].prix}}</li>
<li>Date Edition: {{livres[0].dateEdition | date:'MMMM-yyyy'}}</li>
<li><div> Donner un % de promotion <input type="text"><label></label></div></li>
</ul>
<img src="{{livres[1].couverture}}">
<ul>
<li class="couleur">{{livres[1].titre}}</li>
<li>prix:{{livres[1].prix}}</li>
<li>Date Edition: {{livres[1].dateEdition | date:'MMMM-yyyy'}}</li>
<li><div> Donner un % de promotion <input type="text"><label></label></div></li>
</ul>
<img src="{{livres[2].couverture}}">
<ul>
<li class="couleur">{{livres[2].titre}}</li>
<li>prix:{{livres[2].prix}}</li>
<li>Date Edition: {{livres[2].dateEdition | date:'MMMM-yyyy'}}</li>
<li><div> Donner un % de promotion <input type="text"><label></label></div></li>
</ul>